<!DOCPOLICY html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<body>

<div align="center"><img src="images/jopari_ops.png" width="350" height="45" alt="" title="" border="0" /></div>


<strong><b><div align="center"></font><font size="5">Ops Internal Reports</font></font></div></b></strong>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal align=center style='text-align:center'><a
href="http://127.0.0.1:3000/report"><span class=SpellE>ACH Report</span></a></p>


<p class=MsoNormal align=center style='text-align:center'><a
href="http://127.0.0.1:3000/pnote"><span class=SpellE>Prenote Report</span></a></p>


<p class=MsoNormal align=center style='text-align:center'><a
href="http://127.0.0.1:3000/ppay"><span class=SpellE>PositivePay Report</span></a></p>


<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>


